<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CeoMapper">

<!-- 매장코드 최대값 -->
<select id="getMaxCode" resultType="int">
	select nvl(max(shopCode),100000) from shop
</select>

<!-- 사장님 회원가입 -->
<insert id="insertCeo" parameterType="com.eatswill.dto.CeoDTO">
	insert into ceo (ceoId,ceoPw,ceoName,ceoEmail) values (#{ceoId},#{ceoPw},#{ceoName},#{ceoEmail})
</insert>

<!-- 사장님아이디에 대한 정보 -->
<select id="getReadData" parameterType="String" resultType="com.eatswill.dto.CeoDTO">
	select * from ceo where ceoId = #{ceoId}
</select>

<!-- 사장님 매장추가 -->
<insert id="insertStore" parameterType="com.eatswill.dto.CeoDTO">
	insert into shop (shopCode, ceoId, shopName, category, shopAddr, shopTel, timeCode, shopImg, shopCreated, franchise)
	values (#{category}||'_'||no_seq_shopCode.nextval, #{ceoId}, #{shopName}, #{category}, #{shopAddr}, #{shopTel}, 1, #{shopImg}, sysdate, #{franchise})	
</insert>

<!-- 사장님 보유매장 -->
<select id="getStore" parameterType="String" resultType="com.eatswill.dto.CeoDTO">
	select shopCode, shopName, category, shopAddr, shopTel, shopImg, shopCreated, franchise from shop where ceoId = #{ceoId}
</select>

<!-- 사장님 보유매장 개수 -->
<select id="getStoreCount" parameterType="String" resultType="int">
	select nvl(count(*),0) from shop where ceoId = #{ceoId}
</select>

<!-- 보유매장에 대한 리뷰 -->
<select id="getStoreReivew" parameterType="hashMap" resultType="com.eatswill.dto.CeoDTO">
	select rpad(substr(r.userId,1,3),6,'*') userId, r.reScore,to_char(reCreated,'yyyy-mm-dd hh:mm'),r.reCreated,r.reContent ,r.reImg,r.shopCode,m.menuName, s.shopName, s.shopAddr 
	from review r, orderdetail o,menu m,shop s
	where r.orderCode=o.orderCode and o.menuCode=m.menuCode and r.shopCode = #{shopCode} and s.ceoId = #{ceoId} order by r.renum
</select>

</mapper>